pyrogram==1.4.10
wkhtmltopdf
pytest-shutil
htmlwebshot
pygments
Pillow
aiofiles
certifi
phlogo
pyaztro
pypng
PyQRCode
carbonnow
heroku3
tgcrypto
aiohttp
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
pytz
IMDbPY==2022.7.9
python-dotenv
telegraph==2.1.0
PyUltroid
