pyrogram==1.4.10
carbonnow
validators
opencv-python==4.6.0.66
cv2-tools==2.4.0
numpy==1.23.1
python-constraint==1.4.0
Pillow
tgcrypto
aiofiles
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
IMDbPY==2022.7.9
python-dotenv
telegraph==2.1.0
py-Ultroid
gingerit
Telethon==1.21.1
git+https://github.com/buddhhu/search-engine-parser.git
git+https://github.com/buddhhu/ofox.git
git+https://github.com/ProgrammingError/rextester_py.git
